################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PreLockOverlay
/packages/MouseKeyHook.5.7.1
